<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.callkill">

    <uses-sdk tools:overrideLibrary="pl.droidsonroids.gif" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Callkill">
        <activity
            android:name=".event3"
            android:label="Battle of the Hoods"
            android:parentActivityName=".MainActivity"
            android:exported="true" />
        <activity
            android:name=".WorkoutActivity2"
            android:label="La-Caminar"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".WorkoutActivity1"
            android:label="Hellexia"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".bottomNavigationActivity"
            android:label="@string/title_activity_bottom_navigation" />
        <activity android:name=".loginPage" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>